<nav class="navbar navbar-default navbar-fixed-top be-top-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"></a>
    </div>
    <div class="be-right-navbar">
      <ul class="nav navbar-nav navbar-right be-user-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
            <img src="{{ asset('img/avatar.png') }}" alt="Avatar">
            <span class="user-name">{{ app.user.name }}</span>
          </a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <div class="user-info">
                <div class="user-name">{{ app.user.name }}</div>
                <div class="user-position online">Available</div>
              </div>
            </li>
            <li><a href="{{ path('password_change', {'id': app.user.id}) }}"><span class="icon mdi mdi-lock-outline"></span> {{ 'user.change_password' | trans }}</a></li>
            <li><a href="{{ path('security_logout') }}"><span class="icon mdi mdi-power"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
      <div class="page-title"><span>{{ pageTitle }}</span></div>
      <ul class="nav navbar-nav navbar-right be-icons-nav">
        <li class="dropdown">
          <a href="#" role="button" aria-expanded="false" class="be-toggle-right-sidebar">
            <span class="icon mdi mdi-settings"></span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
            <span class="icon mdi mdi-notifications"></span>
            <span class="indicator"></span>
          </a>
          <ul class="dropdown-menu be-notifications">
            <li>
              <div class="title">Notifications<span class="badge">3</span></div>
              <div class="list">
                <div class="be-scroller">
                  <div class="content">
                    <ul>
                      <li class="notification">
                        <a href="#">
                          <div class="image">
                            <img src="{{ asset('img/avatar.png') }}" alt="Avatar">
                          </div>
                          <div class="notification-info">
                            <span class="text">
                              <span class="user-name">Max Müller</span> neue Nachricht
                            </span>
                            <span class="date">5 days ago</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer"><a href="#">Alle Nachrichten anzeigen</a></div>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
            <span class="icon mdi mdi-apps"></span>
          </a>
          <ul class="dropdown-menu be-connections">
            <li>
              <div class="list">
                <div class="content">
                  <div class="row">
                    <div class="col-xs-4">
                      <a href="#" class="connection-item">
                        <img src="{{ asset('img/github.png') }}" alt="Github"><span>GitHub</span>
                      </a>
                    </div>
                    <div class="col-xs-4">
                      <a href="#" class="connection-item">
                        <img src="{{ asset('img/bitbucket.png') }}" alt="Bitbucket"><span>Bitbucket</span>
                      </a>
                    </div>
                    <div class="col-xs-4">
                      <a href="#" class="connection-item">
                        <img src="{{ asset('img/slack.png') }}" alt="Slack"><span>Slack</span>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">
                      <a href="#" class="connection-item">
                        <img src="{{ asset('img/dribbble.png') }}" alt="Dribbble"><span>Dribbble</span>
                      </a>
                    </div>
                    <div class="col-xs-4">
                      <a href="#" class="connection-item">
                        <img src="{{ asset('img/mail_chimp.png') }}" alt="Mail Chimp"><span>Mail Chimp</span>
                      </a>
                    </div>
                    <div class="col-xs-4">
                      <a href="#" class="connection-item">
                        <img src="{{ asset('img/dropbox.png') }}" alt="Dropbox"><span>Dropbox</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer"><a href="#">More</a></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
